@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    /* background: linear-gradient(to right, #d89b69, #ebdcdc); */
    background-color: #ffffff;
}

/* Seletor para o input do tipo search */
input[type="search"]::placeholder {
    color: #ffffff; /* Cor desejada para o texto do placeholder */
}

input[type=search]:focus{
    box-shadow: inset 0 -1px 0 #ffffff;
}

/* Remova a sombra dos inputs */
.form-control {
    box-shadow: none;
}

/* Remova a borda dos inputs */
.form-control:focus {
    border: none;
}

#responsivo{
    display: none;
}

@media (max-width: 630px){
    #desktop{
        display: none;
    }

    #responsivo{
        display: block;
    }

    
}
